table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

.WhitelistedCall {
    background: #bfb;
}

.BlockedCall {
    background: #fbb;
}

.NormalCall {
    background: #eee;
}
